body {
  background-color: rgb(21, 21, 24);
  overflow: hidden;
}

.navbar {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  min-height: 80px;
}

a {
  font-weight: bolder;
  font-size: 10px;
}

#navbarColor01 {
  margin-right: 2%;
  color: rgb(215, 215, 215);
}

.legend {
  position: fixed;
  top: 5rem;           
  left: 0;         
  z-index: 1000;   
}

input {
  border-radius: 10px;
}

.expence-container {
  max-width: 23rem;
  border: 2px solid rgb(50, 163, 200);
  padding: 18px;
  border-radius: 10px;
  position: absolute;
  bottom: 33%;
  right: 8%;
}

.amount-date {
  display: flex;
  margin-top: 10px;
  margin-bottom: 12px;
}

.description-input {
  max-width: 100%;
}

.amount-input {
  max-width: 9rem;
}

.date-input {
  max-width: 9rem;
}

.category-input {
  min-width: 100%;
  margin-bottom: 12px;
  border-radius: 10px;
}

.home-table {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
}