body {
  background-color: rgb(21, 21, 24);
}

.navbar {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  min-height: 80px;
}

a {
  font-weight: bolder;
  font-size: 10px;
}

#navbarColor01 {
  margin-right: 2%;
  color: rgb(215, 215, 215);
}

input {
  border-radius: 10px;
}

.expence-container {
  max-width: 20rem;
  border: 2px solid rgb(50, 163, 200);
  padding: 15px;
  border-radius: 10px;
}
